.close-btn {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 3px;
    height: 20px;
    background-color: $white;
  }

  &::before {
    left: 7px;
    transform: rotateZ(45deg);
  }

  &::after {
    right: 8px;
    transform: rotateZ(-45deg);
  }
}
