// Брэк поинты
$desktop-header-fix: 1295px;
$desktop-width: 1200px;
$tablet-width: 768px;

$transition-time: 0.4s;

// Цвета
$black: #000;
$black-60: rgba(0, 0, 0, 0.6);
$black-btn: #313131;
$black-btn-light: #484848;
$white: #fff;
$white-25: rgba(255, 255, 255, 0.25);
$white-30: rgba(255, 255, 255, 0.3);
$white-40: rgba(255, 255, 255, 0.4);
$grey: #555;
$blue: #50b1d7;
$blue-saturate: #1b92c1;
$blue-70: rgba(80, 177, 215, 0.7);
$yellow: #ffeb40;
$red-25: rgba(255, 0, 0, 0.25);
$red-40: rgba(255, 0, 0, 0.4);
$red-60: rgba(255, 0, 0, 0.6);
$bg-color: #706664;
